*{
    
    padding:0;
    margin: 0;
}
body{
    font-family:'Arial';
    background-color #f5f5f5;
}
#main-header{
    color :white;
    background-color: rgb(0, 0, 0);
    text-align:center;
    padding:20px;
}
.nav-link {
    color:rgb(3, 3, 3);
    text-decoration:none;
    padding: 10px 15px;
}
h1,h2,h3 {
    font-family:'inter',serif;
}
nav a {
    display:inline-block;
    margin: 0 10px;   
    
    border-radius: 20px;
    border: 2px solid rgb(6, 1, 148);
   
}
a:hover {
    color:#ff6600;
    background-color: #eee;
}
