*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    font-family:'Arial';
    background-color #f5f5f5;
}
#main-header{
    color :white;
    background-color: rgb(0, 0, 0);
    text-align:center;
    padding:20px;
}
.nav-link {
    color:rgb(3, 3, 3);
    text-decoration:none;
    padding: 10px 15px;
}
.posts{
    text-align: center;
    margin: 0 auto;
    width:auto;
}
.card{
        width: 30% ;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 20px;
        margin: 10px;
        background: white;
        border-radius: 8px;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    background:#007bff;
    color:white;
    text-decoration: none;
    border-radius: 4px;
}
.btn:hover{
    background: #0056b3 
}
h1,h2,h3 {
    font-family:'inter',serif;
}
nav a {
    display:inline-block;
    margin: 0 10px;   
    
    border-radius: 20px;
    border: 2px solid rgb(6, 1, 148);
   
}
a:hover {
    color:#ff6600;
    background-color: #eee;
}
