*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
  
    justify-content: space-between;
    align-content: center;
}
.left-picture picture {
    object-fit:cover;
}
.right-form{

}
